.label-checkbox_custom {
    background: #ffffff;
    opacity: 0.5;
    display: inline-block;
    position: relative;
    width: 3em;
    height: 3em;
    pointer-events: all;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;

}

.label-checkbox_custom:before{
    -webkit-transition: opacity 350ms ease;
    -moz-transition: opacity 350ms ease;
    -ms-transition: opacity 350ms ease;
    -o-transition: opacity 350ms ease;
    transition: opacity 350ms ease;
}


.label-checkbox_custom.theme1:before,
.label-checkbox_custom.theme1:after,
.label-checkbox_custom.theme0:before,
.label-checkbox_custom.theme0:after {
    content: '';
    width: 0.2em;
    height: 2em;
    top: 50%;
    left: 50%;
    position: absolute;
}


.label-checkbox_custom.theme1:before,
.label-checkbox_custom.theme0:before {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    -moz-transform: translate(-50%,-50%) rotate(45deg);
    -ms-transform: translate(-50%,-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

.label-checkbox_custom.theme1:after,
.label-checkbox_custom.theme0:after {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    -moz-transform: translate(-50%,-50%) rotate(-45deg);
    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    -o-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
}


input[type="checkbox"]:checked ~ .label-checkbox_custom.theme1:before,
input[type="checkbox"]:checked ~ .label-checkbox_custom.theme0:before {
    width: 1em;
    background: transparent;
    border-right: 0.2em solid;
    border-bottom: 0.2em solid;
    top: 0;
    left: 1em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*theme0*/

.label-checkbox_custom.theme0 {
    border-radius: 0.5em;
    border: 0.2em solid red;
}
.label-checkbox_custom.theme0:before,
.label-checkbox_custom.theme0:after {
    background: red;
}

input[type="checkbox"]:checked ~ .label-checkbox_custom.theme0 {
    border: 0.2em solid green;
}

input[type="checkbox"]:checked ~ .label-checkbox_custom.theme0:before {
    border-color: green;
}

input[type="checkbox"]:checked ~ .label-checkbox_custom:after {
    content: none;
}

/*theme1*/

.label-checkbox_custom.theme1 {
    background: #000088;
    border-radius: 0;
}

.label-checkbox_custom.theme1:before,
.label-checkbox_custom.theme1:after {
    background: #ffffff;
}

input[type="checkbox"]:checked ~ .label-checkbox_custom.theme1:before {
    border-color: #ffffff;
}

/*theme2*/
.label-checkbox_custom.theme2 {
    background: #000088;
    border: none;
    border-radius: 50%;
}
.label-checkbox_custom.theme2:before {
    background: #ffffff;
    width: 1em;
    height: 1em;
}

.label-checkbox_custom.theme3:before,
.label-checkbox_custom.theme2:before {
    content: '';
    border-radius: 50%;
    top:50%;
    left:50%;
    opacity: 0;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

input[type="checkbox"]:checked ~ .label-checkbox_custom.theme2:before {
    opacity: 1;
}

/*theme3*/
.label-checkbox_custom.theme3 {
    background: #ffffff;
    border: 0.2em solid #000088;
    border-radius: 50%;
}

.label-checkbox_custom.theme3:before {
    background: #000088;
    width: 2.5em;
    height: 2.5em;
}

input[type="checkbox"]:checked ~ .label-checkbox_custom.theme3:before {
    opacity: 1;
}

/*custom checkbox 2*/

.label-checkbox_custom.theme6,
.label-checkbox_custom.theme5 {
    width: 15em;
    display: inline-block;
    height: 2em;
    background: deepskyblue;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    opacity: 1;
    text-align: right;
    line-height: 2;
}

.label-checkbox_custom.theme5 {
    border-radius: 2em;
}

.label-checkbox_custom.theme6:before,
.label-checkbox_custom.theme5:before {
    content: '';
    background: #ffffff;
    border: 0.2em solid deepskyblue;
    width: 3.5em;
    height: 3.5em;
    top:50%;
    left:0;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.label-checkbox_custom.theme5:before {
    border-radius: 50%;
    opacity: 0.5;
}

input[type="checkbox"]:checked ~ .label-checkbox_custom.theme6:before,
input[type="checkbox"]:checked ~ .label-checkbox_custom.theme5:before {
    opacity: 1;
    -webkit-box-shadow: inset 0 0 3em deepskyblue;
    -moz-box-shadow: inset 0 0 3em deepskyblue;
    box-shadow: inset 0 0 3em deepskyblue;
}