#toggleCheckboxContainer input[type="checkbox"] {
    display: none;
}

div {
    border: 3px solid #C21F39;
    display: grid;
    width: 90vw;
    padding: 1em;
    margin: 1em;
}

span {
    margin: 1em;
    height: 3em;
    font-size: 1rem;
}

