.label-checkbox_toggle {
    background: #ffaaaa;
    opacity: 0.5;
    display: inline-block;
    position: relative;
    width: 4em;
    height: 2em;
    pointer-events: all;
    -webkit-transition: opacity 350ms ease;
    -moz-transition: opacity 350ms ease;
    -ms-transition: opacity 350ms ease;
    -o-transition: opacity 350ms ease;
    transition: opacity 350ms ease;
}

.label-checkbox_toggle:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 2em;
    height: 2em;

    background: #C21F39;
    right: 2em;
    -webkit-transition: right 350ms ease;
    -moz-transition: right 350ms ease;
    -ms-transition: right 350ms ease;
    -o-transition: right 350ms ease;
    transition: right 350ms ease;
}

input[type="checkbox"]:checked ~ .label-checkbox_toggle {
   opacity: 1;
}

input[type="checkbox"]:checked ~ .label-checkbox_toggle:before {
     right: 0;
}

.label-checkbox_toggle:after {
    content: " " attr(offTxt) "";
    color: #000000;
    position: absolute;
    right: -8vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

input[type="checkbox"]:checked ~ .label-checkbox_toggle:after {
    content: " " attr(onTxt) "";
}


.label-checkbox_toggle.circle {
    border-radius: 1em;
}

.label-checkbox_toggle.circle:before {
    border-radius: 50%;
}

.label-checkbox_toggle.line {
    height: 0.2em;
}

.label-checkbox_toggle.line:before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.label-checkbox_toggle.line:after {
    line-height: 0.2;
}


